html {
    background-color: black;
    font-family: sans-serif;
    letter-spacing: 0.48px;
    color: #eeeeee;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    height:100%;
    margin:2em;
}
h1 {
    font-family: 'Segoe UI',Arial,sans-serif;
    font-size: 300%;
    font-weight: 700;
    margin: 0;
}
h2 {
    font-family: 'Segoe UI',Arial,sans-serif;
    clear: left;
    padding-top: 0px;
}
p {
line-height: 1.3;
}
a,a:visited {
    text-decoration: none;
    font-weight:600;
    color: #ff2020;
}
a:hover {
    color: #ffffff;
}
li {
    line-height: 1.5;
}
#content {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}
#photo {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 20px 0px;
}
.socialbutton {
    margin-right:10px;
    padding:0;
    display:inline-block;
    width:30px;
    height:30px;
}
.platformbutton {
    margin-right: -0em;
    margin-bottom: -0.4em;
    padding-bottom: -0.0em;
    display:inline-block;
    width:30px;
    height:30px;
}
#socialbutton_mailto {
    background:url('social_buttons.png') no-repeat 0 0;
}
#socialbutton_mailto:hover {
    background-position:-31px 0;
}
#socialbutton_facebook {
    background:url('social_buttons.png') no-repeat 0 -31px;
}
#socialbutton_facebook:hover {
    background-position:-31px -31px;
}
#socialbutton_twitter {
    background:url('social_buttons.png') no-repeat 0 -62px;
}
#socialbutton_twitter:hover {
    background-position:-31px -62px;
}
#socialbutton_youtube {
    background:url('social_buttons.png') no-repeat 0 -93px;
}
#socialbutton_youtube:hover {
    background-position:-31px -93px;
}
#socialbutton_instagram {
    background:url('social_buttons.png') no-repeat 0 -124px;
}
#socialbutton_instagram:hover {
    background-position:-31px -124px;
}
#socialbutton_linkedin {
    background:url('social_buttons.png') no-repeat 0 -155px;
}
#socialbutton_linkedin:hover {
    background-position:-31px -155px;
}
#socialbutton_github {
    background:url('social_buttons.png') no-repeat 0 -186px;
}
#socialbutton_github:hover {
    background-position:-31px -186px;
}
#socialbutton_skype {
    background:url('social_buttons.png') no-repeat 0 -217px;
}
#socialbutton_skype:hover {
    background-position:-31px -217px;
}
#socialbutton_wordpress {
    background:url('social_buttons.png') no-repeat 0 -248px;
}
#socialbutton_wordpress:hover {
    background-position:-31px -248px;
}

#platformbutton_apple {
    background:url('platform_buttons.png') no-repeat 0 0;
}
#platformbutton_apple:hover {
    background-position:-31px 0;
}
#platformbutton_android {
    background:url('platform_buttons.png') no-repeat 0 -31px;
}
#platformbutton_android:hover {
    background-position:-31px -31px;
}
#platformbutton_windows {
    background:url('platform_buttons.png') no-repeat 0 -62px;
}
#platformbutton_windows:hover {
    background-position:-31px -62px;
}
#platformbutton_amazon {
    background:url('platform_buttons.png') no-repeat 0 -93px;
}
#platformbutton_amazon:hover {
    background-position:-31px -93px;
}
@media screen and (max-width: 480px) {
body {
    margin:1em;
}
}
